# See http://help.github.com/ignore-files/ for more about ignoring files.
# ignore static files generated during build process
/static/app.html.fragment
/static/static.html.fragment
/static/blogFeed.json

# deploy key
/deploy/gramene_deploy_key
/deploy/gramene_deploy_key2

# compiled output
/dist
/build

# dependencies
/node_modules
/bower_components
/jspm_packages

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.ideabuild
.idea
.grunt