.footer {
  color: @gramene-lightgreen;
  background-color: @gramene-darkgreen;

  font-size: smaller;

  a {
    color: @gramene-orange;
  }

  p {
    padding-bottom: @padding-large-vertical;
  }

  .tech-info {
    @media (min-width: @screen-sm-min) {
      margin-top: -2 * @padding-large-vertical;
    }
    background-color: lighten(@gramene-darkgreen, 5%);

    ul {
      padding-left: @padding-large-horizontal;
    }

    h5 {
      margin-bottom: 0.4rem;
    }
  }

  * {
    margin-bottom: 0;
  }

  margin-top: @padding-large-vertical * 5;
  border-top: @padding-large-vertical solid @gramene-orange;
  padding-top: @padding-large-vertical * 5;
  padding-bottom: @padding-large-vertical * 5;

}