@import 'colors';

@logo-width: 14rem;
@search-padding: 3rem;

.header {
  background-color: @gramene-lightgreen;

  .logo-link {
    @media only screen and (min-width: 320px) {
      padding: 0 calc(~'(100% - @{logo-width}) / 2');
    }

    @media only screen and (min-width: 768px) {
      padding: 0 @padding-base-horizontal;
    }
  }
  .logo {
    width: @logo-width;
    height: 100%;
    background-image: url(../images/gramene_logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  ul.searchBoxNav {
    margin: 0.6rem 0;

    .input-group-addon {
      padding: @padding-xs-vertical @padding-small-horizontal;
      strong {
        color: @gramene-midgreen;
      }
    }

    @media only screen {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    @media only screen and (min-width: @screen-sm-min) {
      width: calc(~'100% - @{logo-width} - @{padding-base-horizontal}');
      padding-right: @grid-gutter-width;
    }
  }
}