@import 'colors';

@logo-width: 14rem;
@logo-height-px: 53px;

.header {
  background-color: @gramene-lightgreen;

  .logo-link {
    @media only screen {
      padding: 0 calc(~'(100% - @{logo-width}) / 2');
    }

    @media only screen and (min-width: @screen-sm-min) {
      padding: 0 @padding-base-horizontal;
    }

    .logo {
      width: @logo-width;
      height: @logo-height-px;
      // now that we inline the compiled CSS into the page, the URL path
      // is relative to the page, not the former build/style.css. So the path
      // no longer starts with a `../` and thus is flagged by Webstorm as
      // being invalid unless the following comment is included.
      // noinspection CssUnknownTarget
      background-image: url(assets/images/gramene_logo.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @import 'search';
}