@import 'colors';
@import 'bootstrap-3.3.4/bootstrap';
@import 'header';
@import 'analysis';
@import 'suggestions';
@import 'results';
@import 'visualizations';
@import 'welcome';
@import 'footer';
@import 'queryTerm';

a {
  cursor: pointer;
}

/* Initial padding required for body to compensate for fixed navbar height. It is the
   height of the navbar in pixels. This is overridden at runtime if the height of the
   navbar changes. */
body {
  padding-top: 51px;
}

@media only screen and (max-width: @screen-xs-max) {
  body {
    padding-top: 97px;
  }

  body.has-filters {
    padding-top: 134px;
  }
}