@import 'bootstrap-3.3.4/variables';
@import 'colors';
@import 'result-details';

.results {
  min-height: 50rem;
}

.gramene-search-vis .genomes ul {
  display: none !important;
}

.results-list-container {
  padding-top: @padding-large-vertical;

  .results-list {
    &:extend(.list-unstyled all);

    .result {
      padding: @padding-base-vertical (@padding-base-horizontal - 1px);

      .result-gene-summary {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
      }

      /* closest-ortholog is the other flexbox */
      .result-gene-title-body {
        flex: 1 1 auto;
        width: 1036px;
      }

      .gene-title {
        .gene-name {
          color: @gramene-darkgreen;
        }

        @media only screen and (max-width: @screen-xs-max) {
          .gene-subtitle {
            .species-name, .gene-id {
              display: block;
            }
            .species-name {
              padding-top: @padding-small-vertical;
            }
          }
        }
      }

      /* don't wrap between, for example Arabidopsis // thaliana */
      .gene-id, .species-name {
        white-space: nowrap;
      }

      /* result-gene-title-body is the other flexbox'*/
      .closest-ortholog, .gene-summary-tair {
        cursor: pointer;
        flex: 1 1 auto;
        width: 500px;
        font-size: smaller;
        margin-top: @line-height-computed + @padding-small-vertical; /* same as h3 in bootstrap, plus extra for ::before element */
        padding: 0 @padding-xs-horizontal; /* vertical padding from h and p elements */
        margin-left: @padding-xs-horizontal;
        border: 1px solid @gramene-orange;
        > h4, > p {
          margin: @padding-base-vertical 0;
        }

        /* clear the title (defined in the ::before block below) */
        :first-child {
          clear: right;
        }
      }

      .closest-ortholog {
        border: 1px dotted @gramene-orange;
      }

      .gene-summary-tair {
        border: 1px dotted @gramene-darkgreen;

        .rest {
          display: none;
        }
      }

      .gene-summary-tair:hover, .gene-summary-tair:focus {
        .rest {
          display: inline;
        }
        .ellipsis {
          display: none;
        }
      }

      /* this is the "title" of the closest ortholog box */
      .closest-ortholog::before,
      .gene-summary-tair::before {
        position: relative;
        float: right;
        margin-top: -13px;
        border: dotted 1px;

        padding: 0 @padding-xs-horizontal;
        background: @gramene-offwhite;
      }

      .closest-ortholog::before {
        content: "Model Species Homolog";
        color: @gramene-orange;
      }

      /* this is the "title" of the closest ortholog box */
      .gene-summary-tair::before {
        content: "TAIR Curated Description";
        color: @gramene-darkgreen;
      }

      @media only screen and (max-width: @screen-xs-max) {
        .closest-ortholog, .gene-summary-tair {
          margin-left: @padding-large-horizontal;
          margin-top: 0;
        }

        .result-gene-summary {
          flex-flow: row wrap;
        }
      }

      .result-content {
        clear: both; /* result-gene-title-body and closest-ortholog are floating above this element */

        .result-links {
          &:extend(.list-inline all);

          display: flex;
          justify-content: flex-start;
          margin-left: 0;
          margin-top: @padding-small-vertical;

          .result-gene-detail-name {
            cursor: pointer;
            flex: 0 1 auto;
            padding: @padding-base-vertical @padding-base-horizontal;
          }

          .result-gene-detail-name:hover, .result-gene-detail-name.hover {
            background-color: @gramene-lightgreen;
            > a {
              text-decoration: underline;
            }
          }

          .result-gene-detail-name.active {
            background-color: @gramene-darkgreen;
            > a {
              color: @gramene-offwhite;
            }
          }
        }

        /* On small screens, only show the first three gene details */
        @media only screen and (max-width: @screen-xs-max) {
          .result-links .result-gene-detail-name:nth-child(n+4) {
            display: none;
          }
        }

        .visible-detail {
          border: 1px solid @gramene-darkgreen;
          margin-bottom: @padding-large-vertical;
          padding: @padding-base-vertical @padding-base-horizontal;
        }

        .xrefs {
          table-layout: fixed;

          .xref-name-col {
            width: 20%;
          }

          .xref-value-col {
            width: 80%;

            ol.xref-id-list {
              &:extend(.list-unstyled all);
            }
          }
        }
      }
    }
  }

  .more-results {
    &:extend(.pager all);
  }

  padding-bottom: @padding-large-vertical;
}