@import 'bootstrap-3.3.4/variables';

ul.search-box-nav {
  margin: 0.6rem 0;

  .input-group-btn {
    //padding: @padding-xs-vertical @padding-small-horizontal;
    height: @input-height-base;
    max-height: @input-height-base;
    min-height: @input-height-base;
  }

  .results-summary {
    display: inline-block;

    strong {
      color: @gramene-warmgreen;
    }
  }

  .search-help-popover {
    top: @input-height-base;
    max-width: 100%;
  }

  @media (max-width: 400px) {
    @_border-width: 1px;
    @_vertical_padding: 2px;
    @_count-height: (@input-height-base - 2 * @_border-width - 2 * @_vertical_padding) / 2;
    @_count-font-size: @_count-height * 1/1.4;

    .caret {
      margin-bottom: @padding-base-vertical;
    }

    #genomes-of-interest-dropdown {
      border-width: @_border-width;
      max-height: @input-height-base;

      padding-top: @_vertical_padding;
      padding-bottom: @_vertical_padding;
    }

    .dropdown-menu {
      left: inherit;
      right: 0;
    }

    .results-summary {
      .gene-count, .genomes-count {
        font-size: @_count-font-size;
        height: @_count-height;
        display: block;
      }
      .join {
        display: none;
      }
    }

    .results-summary + span {
      line-height: 1.0;
      font-size: 2 * @_count-height;
    }
  }

  .suggestions {
    position: absolute;
    z-index: 5;

    .panel-body {
      height: 100%;
      max-height: calc(~'100vh - 100px');
      overflow-y: scroll;
    }
  }

  @media only screen {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .suggestions {
      width: calc(~'100% - @{grid-gutter-width}');
    }

    @media (min-width: @screen-sm-min) {
      width: calc(~'100% - (@{logo-width} + @{padding-base-horizontal})');

      .suggestions {
        width: calc(~'@{container-sm} - (@{logo-width} + @{padding-base-horizontal} + @{grid-gutter-width})');
      }
    }
    @media (min-width: @screen-md-min) {
      .suggestions {
        width: calc(~'@{container-md} - (@{logo-width} + @{padding-base-horizontal} + @{grid-gutter-width})');
      }
    }
    @media (min-width: @screen-lg-min) {
      .suggestions {
        width: calc(~'@{container-lg} - (@{logo-width} + @{padding-base-horizontal} + @{grid-gutter-width})');
      }
    }
  }

  ol.search-filters {
    margin: 0;
    padding-top: @padding-small-vertical;
    list-style: none;
  }

  .search-filter {
    &:extend(.btn-sm);
    &:extend(.btn-default);
    color: @gramene-darkgreen;
    background-color: @gramene-offwhite;
    padding: @padding-small-vertical @padding-xs-horizontal;
    margin-bottom: @padding-xs-horizontal;
    .exclude {
      text-decoration: line-through;
    }
    button {
      margin-left: @padding-xs-horizontal;
      border-color: @gramene-orange;
      color: @gramene-orange;
    }
  }

  .search-filter:not(:last-child) {
    margin-right: @padding-xs-horizontal;
  }

  #search-box {
    transition: all 0.15s ease-in-out;
  }

  #search-box.highlight {
    transform: scale(1.02, 1.08);
    //border-width: 3px;
    //padding: calc(@padding-base-vertical - 2px) calc(@padding-base-horizontal - 2px);
  }
}
