.suggestions {
  .categories {
    &:extend(.list-unstyled);

    h3 {
      padding: @padding-base-vertical 0 0;
      margin: 0;
      font-variant: small-caps;
      color: @gray-light;
      font-size-adjust: -2;
    }

    .category {

      .terms {
        &:extend(.list-unstyled);

        .term {
          padding: @padding-small-vertical;
          a {
            &:extend(.btn);
            &:extend(.btn-default);
            color: @gramene-darkgreen;
            border-color: @gramene-darkgreen;
          }
        }
      }
    }
  }
}